body {
    line-height: 1.2;
    font-family: sans-serif;
    margin: 0 50px 0 50px;
}

ul {
    padding: 0;
    margin: 0 0 .5em .5em;
    list-style-type: none;
}

h3, h4 {
    padding: 0;
}

h1, h3 {
    margin: .5em 0 .5em 0;
}

h4 {
    margin: .25em 0 .25em 0;
}

label {
    font-weight: bold;
    font-size: 75%;
}

form h3, form h4 {
    display: inline;
}

#add_series {
    margin: 1em 0 0 0;
}

.add_value {
    margin: 0 0 .5em .5em;
}

.example {
    color: #666;
}

.template {
    display: none;
}

h3 a {
    display:inline;
}

.delete {
    display: none;
}

.value {
    text-align: right;
}
